@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
   background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: rgb(39, 39, 39);
    font-family: "Inter", sans-serif;
}

p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.504);
    border-radius: 15px;
    padding: 15px;
    width: 80vw;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.348) 0px 0px 10px;
}

.dropdown {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.356);
    box-shadow: rgba(0, 0, 0, 0.348) 0px 0px 10px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: all 0.5s;
    transform: scale(1);
}

.dropdown:hover {
    box-shadow: rgba(0, 0, 0, 0.348) 0px 0px 90px;
    transform: scale(1.0);

}

.dropdown select {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
    font-family: "Inter", sans-serif;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.dropdown .sub {
    font-family: "Jetbrains Mono", "Inter", sans-serif;
    display: flex;
    justify-content:space-between;
    width: 100%;
    color: rgba(0, 0, 0, 0.449);
}

.input-kg-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.356);
  box-shadow: rgba(0, 0, 0, 0.348) 0px 0px 10px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  position: relative;
  top: 0;
  transition: all 0.5s;
  transform: scale(1);
}

.input-kg-container:hover {
  box-shadow: rgba(0, 0, 0, 0.348) 0px 0px 90px;
  transform: scale(1.02);
}

.input-kg-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Jetbrains Mono", "Inter", sans-serif;
}

.input-kg-container span {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}